*{
    margin: 0;
    box-sizing: border-box;
}
/* ===== HEADER STYLES ===== */
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width: 1200px;
    display: flex;
    padding-top: 3px;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }

/* 1. HEADER_Flexstart > gogo logo and news menu */
.header_flexstart_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.header_gogo_logo_box{
    margin-right: 25px;
}
.cursor {
    cursor: pointer;
}
.header_news_menu_container {
    width: 520px;
    display: flex;
    justify-content: space-between;
}
.header_news_menu_info {
    display: flex;
    position: relative;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1#red_round::before{
    content: "";
    background-color: #e00034;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    position: absolute;
    left: -10px;
    top: 6px;
}
.header_news_menu_info i{
    align-self: center;
    margin-left: 5px;
}
/* menu hover heыуа */
.header_hover {
    position: absolute;
    top: 20px;
    left: -10px;
    display: none;
}
ul {
    max-height: 250px;
    width: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 20px;
    left: -10px;
    row-gap: 20px;
    column-gap: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;   
    box-shadow: 5px 5px 5px gainsboro;
    list-style: none;
}
li {
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
}
li::before{
    content: "\2022";
    color: #407CE8;
    display: inline;
    width: 1em;
    margin-left: -1em;
    margin-right: 1em;
}
.header_news_menu_info:hover{
    opacity: 0.7;
}
#medee:hover .header_hover {
    display: block;
}
#gogobulan:hover .header_hover{
    display: block;
}
#gogobulan ul{
    width: 350px;
}
#uzeh:hover .header_hover{
    display: block;
}
#uzeh ul{
    width: 140px;
}
#hevmayag:hover .header_hover{
    display: block;
}
#hevmayag ul{
    width: 300px;
    height: 120px;
}

/* 2. HEADER_Flexstart > search box */
.header_search_box{
    position: relative;
    margin-left: 25px;
}
.checkbox {
    position: absolute;
    left: 0;
    top: -8px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.search_line{
    position: absolute;
    left: -545px;
    top: -18px;
    display: none;
    width: 520px;
    height: 2.5em;
    margin-bottom: 20px;
    border: solid #407ce8;
    border-radius: 5px; 
}
.button1 {
    position: absolute;
    left: 0px;
    top: -8px;
    z-index: 1;
    opacity: 1;
}
.button2 {
    position: absolute;
    left: 0;
    top: -8px;
    z-index: 0;
    opacity: 0;
}
.checkbox:checked ~ .search_line {
    display: block;
  }
.checkbox:checked ~ .button2 {
    z-index: 1;
    opacity: 1;
    color: #407ce8;
}
.checkbox:checked ~ .button1 {
    z-index: 0;
    opacity: 0;
}

/* 3. HEADER_Flexend > 3 general box */
.header_flexend_container {
    display: flex;
    justify-content: flex-end;
}
.header_general_container {
    display: flex;
}
.header_general_menu_mobile {
    display: none;
    padding: 5px;
}
.header_general_3box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    row-gap: 7px;
}
.header_general_subbox {
    display: flex;
    column-gap: 10px;
}
.header_general_subheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    white-space: pre;
}
.header_general_quantity {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 5px;
    font-weight: 500;
}
.header_general_3box #weather {
    color: rgb(233, 167, 45);
}
.header_general_3box #calendar {
    color: rgb(54, 157, 212);
}
.header_general_3box #FX {
    color: rgb(86, 221, 45);
}
.header_general_subbox span {
    color: rgb(188, 179, 179);
}
/* 4. HEADER - pad and mobile style */
@media only screen and (max-width: 850px) {
    header { width: 100vw;
        justify-content: flex-start;
        margin-top: 0px !important;}
    .header_flexstart_container { margin: 0px;gap: 0px; width: auto;}
    .header_news_menu_container {width: 0px;display: none; margin: 0px; }
    .header_search_box{display: none;}
    .header_gogo_logo_box {
        padding: 10px !important; margin: 0px;}
    .header_flexend_container {justify-content: space-between; width: 100%;}
    .header_general_quantity{
        font-size: 14px; margin-left: 0;}
    .header_general_subheading{ font-size: 10px;}
    .header_general_subbox {column-gap: 2px;}
    .header_general_3box { margin-left: 0px; border: solid 1px gainsboro;border-radius: 3px; padding: 3px;}
    .header_general_container { justify-content: flex-start;column-gap: 8px;}
    .header_general_menu_mobile {display: block;margin: 5px; align-self: center;}
}
/* =====FONT STYLES===== */
.font12{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.font13{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.font14{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.font15{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.font16{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.font18{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.font19{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
.font20{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.font26{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.font46{
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
}
.bold1{
    font-weight: 500;
}
.bold2 {
    font-weight: 600;
}
.bold3 {
    font-weight: 700;
}
.white {
    color: white;
}
.blue {
    color: #407ce8;
}
.gray1 {
    color: #b7b6b6;
}
.gray2 {
    color: #888888;
}
/* ===== BOX STYLES ===== */
.border-round5{
    border-radius: 5px;
}
.border-round10 {
    border-radius: 10px;
}
.border-round100{
    border-radius: 100px;
}
/* ===== IMAGE STYLES ===== */
.opacity_readnews {
    position: relative;
    left: 0;
    top: 0;
    cursor: pointer;
}
.img_box{
    height: 100%;
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: center;
    transition: all 1s ease-in-out;
}
.opacity_readnews span {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.opacity_readnews .transparency_box {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #444242;
  }
.opacity_readnews:hover .transparency_box {
    opacity: 0.5;
}
.opacity_readnews:hover span {
    opacity: 1;
}
.opacity_readnews:hover .img_box {
    background-size: 190%;
}

/* ===== TOP NEWS HESEG ===== */
.top_news_container {
    width: 1200px;
    display: flex;
    margin-top: 50px;
}
/* 1. top news content heseg */
.top_news_info {
    width: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    row-gap: 25px;
    background-image: linear-gradient(90deg, #f4f2f0, #ffffff);
    text-shadow: 1px 1px 1px hsla(0, 33%, 19%, 0.004);
}
.text_top_news {
    line-height: 20px;
    opacity: 0.4;
}
.yellow_round {
    padding: 8px 15px;
    background-image: linear-gradient(-120deg, #e08100, #c90027);
    inline-size: max-content;
}
.gray_round {
    display: flex;
    background-color: #e7e7e7;
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.004);
    border: 1px solid transparent;
    padding: 5px 10px;
    inline-size: max-content;
}
.text_gray_round {
    color: #767676;
    line-height: 24px;
}
.gray_round i {
    color: gray;
    margin-right: 5px;
}
/* 2.top news zuragnii heseg */
#img_top_news {
    background-image: url("https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/311771-13102023-1697169999-1044642779-nuur.jpg");
  }
.opacity_readnews {
    width: 50%;
}
/* 3. top news hover heseg */
.yellow_round:hover{
    padding: 8px 20px;
    transition: all 0.5 ease;
    cursor: pointer;
}
.gray_round:hover{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.top_news_info h2:hover{
    opacity: 0.6;
    cursor: pointer;
}
.top_news_info p:hover{
    cursor: pointer;
}
/* 4. mobile visual heseg */
@media only screen and (max-width: 850px) {
    .top_news_container {display: none;}
}