* {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: auto;
}
/* header styling */
header {
  display: flex;
  padding-top: 3px;
  padding-top: 3px;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.header_flexstart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_info {
  display: flex;
  position: relative;
  margin-left: 5px;
  padding: 0px 10px;
}
.header_flexend {
  display: flex;
  justify-content: flex-end;
}
.header_general {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  row-gap: 7px;
}
.header_general_sub {
  display: flex;
  gap: px;
}
.header_hover {
  position: relative;
  display: none;
}
/* header texting styles */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header_subheading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: right;
}
.header_quantity {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 5px;
  font-weight: 500;
}
/* header icon styles */
i {
  align-self: center;
  margin-left: 0px;
}
.header_general #weather {
  color: rgb(233, 167, 45);
}
.header_general #calendar {
  color: rgb(54, 157, 212);
}
.header_general #FX {
  color: rgb(86, 221, 45);
}
.header_flexstart i {
  margin-left: 10px;
}
.header_general_sub span {
  color: rgb(188, 179, 179);
}
/* top news container */
.top_news_container {
  display: flex;
  margin-top: 50px;
}
.top_news_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
  row-gap: 25px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #f4f2f0, #ffffff);
  text-shadow: 1px 1px 1px hsla(0, 33%, 19%, 0.004);
}
.yellow_round {
  padding: 8px 15px;
  border-radius: 100px;
  color: white;
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  font-size: 12px;
  inline-size: max-content;
  /* font-weight: 500; */
  font-family: Arial, Helvetica, sans-serif;
}
.gray_round {
  display: flex;
  background-color: #e7e7e7;
  border-radius: 100px;
  text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.004);
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 5px 10px;
  inline-size: max-content;
}
.img_top_news {
  width: 50%;
  border-radius: 5px;
}
/* top news font styles */
h2 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}
.text_top_news {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  opacity: 0.4;
}
.text_gray_round {
  color: #767676;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.gray_round i {
  color: gray;
  margin-right: 5px;
}
/* subtop news container styles */
.subtop_news_container {
  width: 100%;
  display: flex;
  column-gap: 10px;
  margin-top: 30px;
}
.subtop_news_box {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  row-gap: 10px;
}
.img_subtop_news {
  border-radius: 5px;
  width: 100%;
}
.feedback_holder_subtop {
  display: flex;
  gap: 20px;
}
.feedback_box {
  display: flex;
  color: #8e8e8e;
  gap: 5px;
}
/* subtop news test styles */
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.feedback_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
