* {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin: auto;
}
/* header styling */
header {
  display: flex;
  padding-top: 3px;
  padding-top: 3px;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.header_flexstart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_info {
  display: flex;
  position: relative;
  margin-left: 5px;
  padding: 0px 10px;
}
.header_flexend {
  display: flex;
  justify-content: flex-end;
}
.header_general {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  row-gap: 7px;
}
.header_general_sub {
  display: flex;
  gap: px;
}
.header_hover {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
}
ul {
  height: 250px;
  width: 360px;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 30px;
  left: 0;
  row-gap: 20px;
  column-gap: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
  background-color: gray;
  border-radius: 10px;
}
li {
  width: 120px;
}
#medee:hover ~ .header_hover {
  display: block;
}

/* header texting styles */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header_subheading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: right;
}
.header_quantity {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 5px;
  font-weight: 500;
}
/* header icon styles */
i {
  align-self: center;
  margin-left: 0px;
}
.header_general #weather {
  color: rgb(233, 167, 45);
}
.header_general #calendar {
  color: rgb(54, 157, 212);
}
.header_general #FX {
  color: rgb(86, 221, 45);
}
.header_flexstart i {
  margin-left: 10px;
}
.header_general_sub span {
  color: rgb(188, 179, 179);
}
.search_line {
  position: absolute;
  left: 27.5%;
  display: none;
  width: 28%;
  height: 25px;
  margin-bottom: 8px;
  border: solid #407ce8;
  border-radius: 5px;
}
.checkbox {
  position: absolute;
  left: 58%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.checkbox:checked ~ .search_line {
  display: block;
}
.button1 {
  position: absolute;
  left: 57.5%;
  z-index: 1;
  opacity: 1;
  margin-bottom: 5px;
  margin-left: 10px;
}
.button2 {
  position: absolute;
  left: 57.5%;
  z-index: 0;
  opacity: 0;
  margin-bottom: 5px;
}
.checkbox:checked ~ .button2 {
  z-index: 1;
  opacity: 1;
  color: #407ce8;
}
.checkbox:checked ~ .button1 {
  z-index: 0;
  opacity: 0;
}
@media only screen and (max-width: 450px) {
  .header_flexstart {
    display: none;
  }
}

/* top news container */
.top_news_container {
  display: flex;
  margin-top: 50px;
}
.top_news_info {
  width: 45%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
  row-gap: 25px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #f4f2f0, #ffffff);
  text-shadow: 1px 1px 1px hsla(0, 33%, 19%, 0.004);
}

.yellow_round {
  padding: 8px 15px;
  border-radius: 100px;
  color: white;
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  font-size: 12px;
  inline-size: max-content;
  /* font-weight: 500; */
  font-family: Arial, Helvetica, sans-serif;
}
.gray_round {
  display: flex;
  background-color: #e7e7e7;
  border-radius: 100px;
  text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.004);
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 5px 10px;
  inline-size: max-content;
}

.img_top_news {
  background-image: url("https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/311771-13102023-1697169999-1044642779-nuur.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease-in-out;
  background-position: center;
  border-radius: 5px;
}

.opacity_readnews {
  position: relative;
  left: 0;
  top: 0;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
}
.opacity_readnews span {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.opacity_readnews .transparency_box {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #444242;
  border-radius: 5px;
}
.opacity_readnews:hover .transparency_box {
  opacity: 0.5;
}
.opacity_readnews:hover span {
  opacity: 1;
}
.opacity_readnews:hover .img_top_news {
  background-size: 190%;
}
/* top news font styles */
h2 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}
.text_top_news {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  opacity: 0.4;
}
.text_gray_round {
  color: #767676;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.gray_round i {
  color: gray;
  margin-right: 5px;
}
/* subtop news container styles */
.subtop_news_container {
  width: 100%;
  display: flex;
  column-gap: 10px;
  margin-top: 30px;
}
.subtop_news_box {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  row-gap: 10px;
}
.img_subtop_news {
  border-radius: 5px;
  width: 100%;
}
.feedback_holder_subtop {
  display: flex;
  gap: 20px;
}
.feedback_box {
  display: flex;
  color: #8e8e8e;
  gap: 5px;
}

/* subtop news test styles */
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.feedback_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
/* gogo story styles */
.gogostory {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.gogostory_title {
  display: flex;
}
.gogostory_container {
  display: flex;
  justify-content: space-around;
}
.gogostory_box {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 235px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: relative;
}
#story1 {
  background-image: url(https://mgl.gogo.mn/newsn/story/jims-652a16b7015d4276129668.jpeg);
}
#story2 {
  background-image: url(https://mgl.gogo.mn/newsn/story/1-652a162a32c25283591857.jpeg);
}
#story3 {
  background-image: url(https://mgl.gogo.mn/newsn/story/hulgai-6528e1a0536bf106260238.jpg);
}
#story4 {
  background-image: url(https://mgl.gogo.mn/newsn/story/toorson-irgen-6528e165cc957235249051.jpg);
}
#story5 {
  background-image: url(https://mgl.gogo.mn/newsn/story/311756-13102023-1697155530-908111805-photo-2023-10-10-10-21-23-4-jpg-6528e11d29500274274526.jpg);
}
#story6 {
  background-image: url(https://mgl.gogo.mn/newsn/story/311708-12102023-1697069940-747207947-39aa022e981a6df629e3c04b668f1d6e26-will-jada-smith-1-652799c68687e425135239.jpg);
}
.gogostory_box img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.gogostory_content_box {
  width: 100%;
  max-height: 2.2em;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.48, -0.28, 0.41, 1.4);
  color: white;
  position: absolute;
  left: 7px;
  bottom: 25px;
  margin-bottom: 10px;
}
.gogostory_content {
  padding-right: 5px;
}
.gogostory_box:hover .gogostory_content_box {
  width: 100%;
  max-height: 6em;
  transform: translateY(0em);
}
.gogostory_box .feedback_box {
  margin-top: 15px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.blue_text {
  color: #fff;
  background-color: #00b0f4;
  border-radius: 3px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 8px;
}
/* big news hesgiin style */
.big_news_list {
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.historical_news {
  width: 70%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #b7b6b6;
}
.historical_news_topline {
  display: flex;
  flex-direction: column;
}
.historical_news_topline_heading {
  display: flex;
  margin-bottom: 5px;
}
.historical_news_topline_heading span {
  font-size: 16px;
  font-weight: 700;
  color: #407ce8;
  font-family: Arial, Helvetica, sans-serif;
}
.historical_news_topline_heading img {
  width: 23px;
  height: 26px;
  margin-left: 5px;
}
.historical_news_dates {
  display: flex;
  column-gap: 15px;
  margin-bottom: 30px;
}
.historical_news_dates #todaynews .blue_line_datebox {
  background-color: #407ce8;
}
.historical_news_dates #todaynews .blue_line_date {
  color: #407ce8;
}

.historical_news_date {
  display: flex;
  flex-direction: column;
}
.blue_line_datebox {
  background-color: #efefef;
  border-radius: 20px;
  height: 7px;
  width: 100px;
}
.blue_line_date {
  text-align: center;
  margin-top: 5px;
  color: #b7b6b6;
}
.historical_news_date:hover .blue_line_datebox {
  background-color: #407ce8;
  transform: translateY(-0.2em);
}
.historical_news_date:hover .blue_line_date {
  color: #407ce8;
  transform: translateY(-0.2em);
}
/* ug n ene butemjtei bolvol ih saihan zuil bolno */
.historical_news_date:not(#todaynews):hover ~ #todaynews .blue_line_date {
  color: #b7b6b6;
}
/* ug n ene butemjtei bolvol ih saihan zuil bolno */
.historical_news_date:hover:not(#todaynews) ~ #todaynews .blue_line_datebox {
  background-color: #efefef;
}
.historical_news_calendar {
  width: 27px;
  height: 27px;
  background-color: #efefef;
  color: #b7b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.historical_news_calendar:hover {
  background-color: #407ce8;
  color: white;
}
.highlighted_news {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.historical_news_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.historical_news_box {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  column-gap: 30px;
  padding: 0 70px 0 0;
  margin-bottom: 25px;
}
.historical_news_container_img {
  position: relative;
  width: 100%;
}
.historical_news_container_img span {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.historical_news_container_img .transparency_box {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #444242;
  border-radius: 5px;
}
.historical_news_box_img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease-in-out;
  background-position: center;
  border-radius: 5px;
  transition: all 0.5s ease;
}
#historical_news1 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/311949-18102023-1697613471-1776222630-Samdan1.jpg);
}
#historical_news3 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/420/images/c/2018/10/231592-16102018-1539652740-214101712-school_police.jpg);
}
#historical_news2 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/420/images/c/2023/10/311956-18102023-1697619570-2064634004-tailor.jpg);
}
#historical_news4 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/-18102023-1697616214-931458002-news_cover.jpg);
}
#historical_news5 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/311952-18102023-1697615969-848017156-Nom%C4%B1nchimeg.jpg);
}
#historical_news6 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/08/310231-31082023-1693461121-1851858686-aqua.jpeg);
}
#historical_news7 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/-20102023-1697777976-1724811316-asdasd-7bwqu4b6114i0ou3cpret5d9nl05vqt0v5mqccm0lkw.jpg);
}
#historical_news8 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/thumbnail/1000/images/ck/2022/11/19/Ger_horoolol1-153620-1029115178.jpeg);
}
#historical_news9 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/312016-20102023-1697775095-1127920845-asdasd-7bwqu4b6114i0ou3cpret5d9nl05vqt0v5mqccm0lkw.jpg);
}
#historical_news10 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/312013-20102023-1697774185-838306837-taylor-swift-mtv-europe-music-awards-2022-111422-2-25b2954054cf45c4a8127ed2aaf85ea4.jpg);
}
#historical_news11 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/thumbnail/1000/images/c/2021/04/278015-26042021-1619399868-724071071-davaasuren.jpg);
}
#historical_news12 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/312011-20102023-1697772216-1302427824-asdasd-7bwqu4b6114i0ou3cpret5d9nl05vqt0v5mqccm0lkw.jpg);
}
#historical_news13 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/thumbnail/1000/images/c/2023/06/307481-14062023-1686730752-297466343-zuslan_11.jpg);
}
#historical_news14 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/-20102023-1697771103-1003977903-ns.jpg);
}
#historical_news15 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/-20102023-1697770974-1313334650-asdasd-7bwqu4b6114i0ou3cpret5d9nl05vqt0v5mqccm0lkw.jpg);
}

.historical_news_container_img:hover .transparency_box {
  opacity: 0.5;
}
.historical_news_container_img:hover span {
  opacity: 1;
}
.historical_news_container_img:hover .historical_news_box_img {
  background-size: 110%;
}
.historical_news_content_box {
  display: flex;
  flex-direction: column;
  width: 180%;
}
.historical_news_content_box h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 26px;
}
.historical_news_content_box .historical_news_content_p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #888888;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 3.2em;
  overflow: hidden;
  line-height: 25px;
}
.historical_news_content_box .feedback_holder_subtop p {
  color: #888888;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  align-items: flex-start;
}
.historical_news_content_box .feedback_box i {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}
.historical_news_ad {
  width: 100%;
  box-sizing: border-box;
  margin-right: 70px;
  padding: 0 70px 0 0;
  margin-bottom: 25px;
}
.historical_news_ad img {
  width: 100%;
}
.more_container {
  width: 100%;
  margin-bottom: 25px;
}
.more_box {
  width: calc(100% - 70px);
  background-color: #f8f8f8;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
  font-weight: 700;
}
.more_box i {
  color: gray;
}
/* ontsloh medeenii heseg */
.highlighted_news {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.highlighted_news_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.highlighted_news_title h5::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 30px;
  background-image: url("https://mgl.gogo.mn//newsn/v4/images/highlightnews.4812c9a7.png");
  background-size: 100% 100%;
  margin-right: 10px;
}
.highlighted_news_box{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 30px;
}
.highlighted_news_container_img {
  position: relative;
  width: 100%;
  height: 170px;
}
.highlighted_news_box_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease-in-out;
  background-position: center;
  border-radius: 5px;
}
#highlighted_news1{
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/420/images/c/2023/10/311999-20102023-1697762650-466483631-WeChat_Image_20231019140955.jpg);
}
#highlighted_news2{
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/312004-20102023-1697766463-1192507748-393351181_258104753892973_592995640008534148_n.jpg);
}
#highlighted_news3{
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/-20102023-1697771103-1003977903-ns.jpg);
}
#highlighted_news4{
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/thumbnail/1000/images/c/2023/06/307481-14062023-1686730752-297466343-zuslan_11.jpg);
}
.highlighted_news_container_img span {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.highlighted_news_container_img .transparency_box {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #444242;
  border-radius: 5px;
}

#highlighted_news1 {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/311999-20102023-1697762650-466483631-WeChat_Image_20231019140955.jpg);
}
.highlighted_news_container_img:hover .transparency_box {
  opacity: 0.5;
}
.highlighted_news_container_img:hover span {
  opacity: 1;
}
.highlighted_news_container_img:hover .highlighted_news_box_img {
  background-size: 110%;
}
.highlihted_news_content_box {
  display: flex;
  flex-direction: column;
}
.highlihted_news_content_box h4{
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.highlighted_news_content_box .feedback_box p{
  font-size: 12px;
}
.highlighted_news_content_box .feedback_box {
  margin-top: 15px;
}

